.i-cell {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 16px;
  overflow: hidden;
  color: #323233;
  font-size: 14px;
  line-height: 24px;
  background-color: #fff;
  &:not(:last-child)::after {
    content: "";
    position: absolute;
    box-sizing: border-box;
    pointer-events: none;
    right: 16px;
    bottom: 0;
    left: 16px;
    border-bottom: 1px solid #ebedf0;
    transform: scaleY(0.5);
  }
  &-title {
    flex: none;
  }
  &-value {
    flex: none;
    margin-left: auto;
  }
  &-desc {
    width: 100%;
  }
}
