page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f7f8fa;
}
.header {
  font-size: 72px;
  text-align: center;
}
.content {
  margin: 20px;
  color: #f00;
}
.footer {
  margin-top: auto;
}
